<div id="loadingDiv"><img src="../images/ajax-loader-circle.gif" /></div>

<style>
	.formCtrlReadOnly
	{
		border: 0;
		font-style: italic;
		background-color: White !IMPORTANT;
	}
	.noteComment
	{
		height: 70px;
		width: 100%;
	}
</style>

<div id="misStatusLogDiv">

<table width="100%">
	<tr>
		<td><strong>MSI Status Log</strong></td>
		<td align="right"><a href="https://docs.google.com/document/d/1s8IFPCOeRfTsOO1DMwgDKO95V1pBsZykPUU9do71spc" title="version doc" target="_blank" style="color: #276696">v 0.5</a></td>
	</tr>
</table>

<div style="display: flex;justify-content: center;">
<table border="0" cellpadding="1" cellspacing="0" class="table" style="align-self: center; margin-bottom: 3px;">
	<tbody>
		<tr>
			<td style="width: 35%"><label>Previous Status</label></td>
			<td><input id="qofz8VA3rt4-k95lcIlS4bv-val" class="previousStatus formCtrlReadOnly" name="entryfield" title="k95lcIlS4bv - Log - Previous status - undefined" value="[Log - Previous status]" /></td>
		</tr>
		<tr>
			<td><label>New Status</label></td>
			<td><input id="qofz8VA3rt4-XhFcLwoD1Dr-val" class="newStatus" name="entryfield" title="[ XhFcLwoD1Dr - Log - New status - TEXT ]" value="[Log - New status]" /></td>
		</tr>
		<tr>
			<td><label>Days Elasped Since Previous Status</label></td>
			<td><input id="qofz8VA3rt4-UrD7yr6JLEf-val" class="daysSincePrev formCtrlReadOnly" name="entryfield" title="UrD7yr6JLEf - Log - days elapsed from previous status - undefined" value="[Log - days elapsed from previous status]" /></td>
		</tr>		
		<tr>
			<td><label>Comments</label></td>
			<td><input class="noteComment" id="qofz8VA3rt4-Yww3Z8MYo1e-val" name="entryfield" title="Yww3Z8MYo1e - Log - Notes - undefined" value="[Log - Notes]" /></td>
		</tr>
	</tbody>
</table>
</div>

<script>

	jQuery( document ).ready( function() {

		new MSIStatusLog();

	});

	function MSIStatusLog()
	{
		var me = this;
		
		me.misStatusLogDivTag = $("#misStatusLogDiv");
		me.loadingDivTag = $("#loadingDiv");		
		
		me._queryURL_api = "../api/";
		me._queryUrl_dataValueSet = me._queryURL_api + 'dataValueSets';
		
		me.statusList = [];
		me.curEventDate = "";
		me.currentEvent;
		me.latestEvent;
		me.lastEvent;
		me.eventList;
		me.caseType = "";
		me.formDisabled = false;

		me.PROGRAM_ID = "i8IL2nSOkKX";
		me.STAGE_ID = "qofz8VA3rt4";
		
		me.EVENT_DE_STATUS = "XhFcLwoD1Dr";
		me.EVENT_DE_NOTE = "Yww3Z8MYo1e";

		me.EVENT_DE_STATUS_PREVIOUS = "k95lcIlS4bv";
		me.EVENT_DE_DAYS_IN_PREV = "UrD7yr6JLEf";		

		me.AGG_DE_FRANCHISEE_ON_BOARDING = "K7wCU6apTwc";
		me.AGG_DE_FRANCHISEE_UNDER_CONTACT = "DS6lHr4eEnw";
		me.AGG_DE_FRANCHISEE_SUSPENDED = "In8fazkWqO5";
		me.AGG_DE_FRANCHISEE_DEFRANCHISED = "otjftbeXFW2";
		me.AGG_DE_FRANCHISEE_UNKNOWN = "By1ehX6g7Iv";
		me.AGG_DE_NETWORK_INCLUDED = "o0i2ESQppT5";
		me.AGG_DE_NETWORK_EXCLUDED = "R3JYgPw22T2";
		me.AGG_DE_NETWORK_UPDATE_THIS_MONTH = "CSQts1sZhE9";
		me.AGG_DE_NETWORK_MONTHS_SINCE_LAST_UPDATE = "uSpx4DHdae6";
		me.AGG_DE_MONTH_SINCE_JOINING_NETWORK = "n1gp668Y4Hq";
		me.AGG_DE_NETWORK_LAST_CHANGE = "RpslYBBLJ2Q";
		
		
		me.GROUP_OU_FRANCHISEE_ON_BOARDING = "bieIPjDl9rK";
		me.GROUP_OU_FRANCHISEE_UNDER_CONTACT = "InJBtUUZy2c";
		me.GROUP_OU_FRANCHISEE_SUSPENDED = "f2sBZWvPAAM";
		me.GROUP_OU_FRANCHISEE_DEFRANCHISED = "jyhbiSfzbU5";
		me.GROUP_OU_FRANCHISEE_UNKNOWN = "By1ehX6g7Iv";
		me.GROUP_OU_NETWORK_INCLUDED = "qZzR4nEdbWW";
		me.GROUP_OU_NETWORK_EXCLUDED = "olNLe6DMrgA";

		me.previousStatusInputTag = $( '#qofz8VA3rt4-k95lcIlS4bv-val' );
		me.daysFromPreviousStatusInputTag = $( '#qofz8VA3rt4-UrD7yr6JLEf-val' );
		
		me.eventDateTag = angular.element("[input-field-id='eventDate']");
		me.updateEventBtnTag = $('button').parent().find("[ng-click='updateEvent()']");
		me.addEvent1BtnTag = $('button').parent().find("[ng-click='addEvent(true)']");
		me.addEvent2BtnTag = $('button').parent().find("[ng-click='addEvent()']");
					
						
		me.newStatusClassName = ".newStatus";
		me.previousStatusClassName = ".previousStatus";
		me.daysSincePrevClassName = ".daysSincePrev"; 


		// ====================================================

		me.init = function()
		{
			me.misStatusLogDivTag.hide();
			me.loadingDivTag.show();
			me.loadInitData();
		};
				
		me.setUp_Events = function()
		{
			me.updateEventBtnTag.click( function(e){
				//e.preventDefault();

				me.saveDataValuesAndUpdateOuGroups( "UPDATE" );
			});
			
			me.addEvent1BtnTag.click( function(){
				me.saveDataValuesAndUpdateOuGroups( "NEW" );
			});
			
			me.addEvent2BtnTag.click( function(){
				me.saveDataValuesAndUpdateOuGroups( "NEW" );
			});
			
			me.eventDateTag.change( function(e){
				// After the form is loaded, changing the event date.
				// Will not trigger on NEW event - first date selection.

				e.preventDefault();	
				
				var dateValid = me.checkCurrentEventDate( $(this).val(), me.curEventDate );
				
				me.disableEventBtn( me.formDisabled || !dateValid );


				if ( me.caseType === "NEW" || me.caseType === "LATEST" ) 
				{
					me.setDaysSincePrev( me.lastEvent, me.currentEvent );
				}

			});
			
		};
		
		me.checkCurrentEventDate = function( eventDate, lastEventDate )
		{
			var eventDateCheck = false;

			if( lastEventDate != "" && eventDate < lastEventDate )
			{
				eventDateCheck = false;
				$(".eventDateWarnMsg").show();
			}
			else
			{
				eventDateCheck = true;
				$(".eventDateWarnMsg").hide();
			}

			return eventDateCheck;
		};

		
		me.disableEventBtn = function( disabled )
		{
			Util.disableTag( me.updateEventBtnTag, disabled );
			Util.disableTag( me.addEvent1BtnTag, disabled );
			Util.disableTag( me.addEvent2BtnTag, disabled );
		};
		
		// -------------------------------------------------------------------------
		// Get Current status - This is the "Status" data value of latest event
		// -------------------------------------------------------------------------
		
		me.loadInitData = function()
		{
			me.currentEvent = angular.element("form").scope().currentEvent;

			$.ajax(
			{
				type: "GET"
				,url: me._queryURL_api + "dataElements/" + me.EVENT_DE_STATUS + ".json?fields=optionSet[options[code,name]]"
				,success: function( response ) 
				{
					me.statusCodeOptions = {};
					me.statusNameOptions = {};
					var options = response.optionSet.options;
					for( var i in options )
					{
						var option = options[i];
						me.statusCodeOptions[option.code] = option.name;
						me.statusNameOptions[option.name] = option.code;
					}
				}
			}).done( function() {
				me.getCurrentStatus( function() 
				{
					// me.daysFromPreviousStatusInputTag.focus();
					// angular.element(me.newStatusClassName).click();
				});
			});
		};

		// -------------------------------------------------------------------------
		// Get Current status - This is the "Status" data value of latest event
		// -------------------------------------------------------------------------

		me.getCurrentStatus = function( returnFunc )
		{
			var ouId = angular.element($("#orgUnitTree .selected")).closest('li').attr('id').replace('orgUnit','')

			var url = me._queryURL_api + "events.json?program=" + me.PROGRAM_ID + "&stage=" + me.STAGE_ID + "&orgUnit=" + ouId + "&fields=event,eventDate,dataValues[dataElement,value]" + "&totalPages=false&order=eventDate:DESC";
			// Not using paging due to 'Months Since joining' needing to check all data.

			//"&totalPages=true&page=1&order=eventDate:DESC";
			// &pageSize=2  <-- Setting this somehow breaks the ordering.
			// <-- 

			$.ajax(
			{
				type: "GET"
				,url: url
				,beforeSend: function( xhr ) {
					// Progress/Loading Bar?  Hide the main section?
				}
				,success: function( response ) 
				{
					me.curEventDate = "";
					me.caseType = "";
					me.formDisabled = false;
					me.eventList = response.events;


					if( me.eventList.length > 0 )
					{
						// STEP 1. Get latest event AND previous of latest event
						var latestEvent = me.eventList[0];
						me.latestEvent = latestEvent;

						var prevEvent = ( me.eventList.length > 1 ) ? me.eventList[1] : undefined;

						me.caseType = me.getCaseType( me.currentEvent, latestEvent );					
						

						// STEP 1. Get Last Event based on caseType
						me.lastEvent = me.getLastEvent( me.caseType, latestEvent, prevEvent );


						// STEP 2. Disable/Enable Form
						me.formDisabled = ( me.caseType === "OLD" );
						me.disableForm( me.formDisabled );

												
						// STEP 3. Set status list for combo box
						me.setStatusList( latestEvent, prevEvent );
						

						// STEP 4. Get CurEventDate
						me.curEventDate = me.getCurEventDate( me.caseType, latestEvent, prevEvent );


						// STEP 5. Setup the DateValidation Message
						me.setUpEventDateValidation( me.eventDateTag, $(".eventDateWarnMsg"), me.curEventDate );
						

						// STEP 6. Perform Event Date Validation
						var dateValid = me.checkCurrentEventDate( me.eventDateTag.val(), me.curEventDate );

						me.disableEventBtn( me.formDisabled || !dateValid );


						// STEP 7. New Event Case - if previous event exists, update the 'previous status' and 'days since previous status'
						if ( me.caseType === "NEW" || me.caseType === "LATEST" ) 
						{
							if ( me.caseType === "NEW" )
							{
								me.setPreviousStatus( me.lastEvent, angular.element( me.previousStatusClassName ).scope().$select );
							}

							me.setDaysSincePrev( me.lastEvent, me.currentEvent );
						}

					}
					else
					{
						// New First Event Case
						me.caseType = "NEW";
						me.disableEventBtn( false );
					}
					
					me.afterLoadedInitData();

					returnFunc();
				}
			//}).done( function( data ) {
			//	me.misStatusLogDivTag.show();
			});
		};

		me.getCaseType = function( currentEvent, latestEvent )
		{
			var caseType = "";

			if ( currentEvent.event === "SINGLE_EVENT" ) caseType = "NEW";
			else if ( currentEvent.event === latestEvent.event ) caseType = "LATEST";
			else caseType = "OLD";

			return caseType;
		}

	
		me.getLastEvent = function( caseType, latestEvent, prevEvent )
		{
			var lastEvent;

			if ( caseType === "NEW" ) lastEvent = latestEvent;
			else if ( caseType === "LATEST" ) lastEvent = prevEvent;

			return lastEvent;
		}
		
		me.getCurEventDate = function( caseType, latestEvent, prevEvent )
		{
			var curEventDate = "";

			// Get current event date
			if ( caseType === "NEW" )
			{
				curEventDate = latestEvent.eventDate.substring( 0, 10 );
			}
			else if( caseType === "LATEST" && prevEvent !== undefined ) 
			{
				// In 'Update' case, get the date from 'prev' event, not latest event.
				curEventDate = prevEvent.eventDate.substring( 0, 10 );
			}

			return curEventDate;
		}
			
		me.setUpEventDateValidation = function( eventDateTag, eventDateWarnMsgTag, curEventDate )
		{
			eventDateTag.parent().find("span.eventDateWarnMsg").remove();
			
			eventDateTag.parent().append("<span class='eventDateWarnMsg' style='font-style: italic;color: red;'>Only allow a date on/after " + curEventDate + "</span>");

			eventDateWarnMsgTag.hide();
		}


		me.setPreviousStatus = function( latestEvent, prevStatusSelectObj )
		{
			if ( latestEvent !== undefined )
			{
				me.selectByCode( prevStatusSelectObj, me.getStatusCode( latestEvent ) );
			}
		}

		me.setDaysSincePrev = function( latestEvent, currentEvent )
		{
			if ( latestEvent !== undefined )
			{
				var latestEventDate = Util.getDate_FromYYYYMMDD( latestEvent.eventDate );

				var currentEventDate = Util.getDate_FromYYYYMMDD( currentEvent.eventDate );

				var dateDiff = Util.getDateDiff( currentEventDate, latestEventDate );

				me.daysFromPreviousStatusInputTag.val( dateDiff ).change();
			}
		}



		// ----------------

		me.afterLoadedInitData = function()
		{
			me.setUp_Events();
			me.loadingDivTag.hide();
			me.misStatusLogDivTag.show();
			me.setReadOnlyOnes();
		}
		
		me.setStatusList = function( latestEvent, prevEvent )
		{						
			// STEP 0. Get all of status options
			if( me.statusList.length == 0 ){
				me.statusList = angular.element(me.newStatusClassName).scope().$select.items;
			}


			// STEP 1. Get and set latest status
			var curStatusCode = me.getStatusCode( latestEvent );

			
			// STEP 2. Add all status for STATUS combo-box when the form is open
			angular.element(me.newStatusClassName).scope().$select.items = me.statusList;
			var items = angular.element(me.newStatusClassName).scope().$select.items;
			
			// STEP 3. Set the status list belongs to the latest event / prev event
			
			// STEP 3.1 For new event, remove current status option from the status-list
			if( me.currentEvent.event === "SINGLE_EVENT" ) 
			{
				Util.removeItemFromList( items, "code", curStatusCode );
				
				if( curStatusCode != "ONB" ){
					Util.removeItemFromList( items, "code", "ONB" );
				}
			}
			// STEP 3.2 For latest event, based on the prevEvent to generate the status list
			else if( me.currentEvent.event == latestEvent.event && prevEvent !== undefined )
			{
				var statusCode = me.getStatusCode( prevEvent );
				
				Util.removeItemFromList( items, "code", statusCode );
				if( statusCode !== "ONB" ){
					Util.removeItemFromList( items, "code", "ONB" );
				}
			}				
		};
		
		me.getStatusCode = function( event )
		{
			var statusCode = "";
			if( event !== undefined )
			{
				var dataValues = event.dataValues;
				for( var i in dataValues )
				{
					var dataValue = dataValues[i];
					if( dataValue.dataElement == me.EVENT_DE_STATUS )
					{
						statusCode = dataValue.value;
					}
				}
			}
			
			return statusCode;
		};
		
		me.selectByCode = function( selectionObj, code )
		{						
			selectionObj.select( Util.findItemFromList( selectionObj.items, "code", code ) );
		}

		me.disableForm = function( disabled )
		{
			//angular.element("form").find("input,select,textarea").attr("disabled", disabled );

			angular.element("form").find("input,select,textarea").not( me.previousStatusClassName + "," + me.daysSincePrevClassName ).attr("disabled", disabled );

			var statusTag = angular.element( me.newStatusClassName );
			statusTag.scope().$select.disabled = disabled;
			if( disabled ) me.setUi_SelectDisable( statusTag );

			// Disable Event Buttons if disabled. - Later, event date check will perform another check to disable the event button.
			me.disableEventBtn( disabled );
		};


		me.setReadOnlyOnes = function()
		{
			// Always disable 'previousStatus' and 'daysSincePrev'
			var prevStatusTag = angular.element( me.previousStatusClassName );
			prevStatusTag.scope().$select.disabled = true;
			me.setUi_SelectReadOnly( prevStatusTag );

			var daysSinceTag = angular.element( me.daysSincePrevClassName ).attr("disabled", true );
			me.setUi_InputDisable( daysSinceTag );			
		}


		me.setUi_SelectDisable = function( tag )
		{
			tag.find("a").css("background-color", "#f4f4f4");
			tag.find("a").css("border", "1px solid #ddd");
			tag.find("span.select2-arrow").find("b").css("background-color", "#ccc");
			tag.find( "abbr" ).hide();
		}

		me.setUi_SelectReadOnly = function( tag )
		{
			tag.find( "a" ).css( "background-color", "White" );
			tag.find( "a" ).css( "border", "none" );
			tag.find( "span.select2-arrow" ).hide();
			tag.find( "abbr" ).hide();

			/*
			var selectText = tag.find( "span.select2-chosen" ).text();

			if ( selectText.indexOf( "Select or search from the list" ) >= 0 )  tag.find( "span.select2-chosen" ).text( "" );
			*/
		}

		me.setUi_InputDisable = function( tag )
		{
			//tag.css("background-color", "#f4f4f4");
			tag.css("border", "none");
		}


		// -------------------------------------------------------------------------
		// Save aggregate data in next 24 months
		// -------------------------------------------------------------------------
		
		me.saveDataValuesAndUpdateOuGroups = function( type )
		{

			// STEP 1. Get the orgUnit Id of selected event
			var ouId = me.currentEvent.orgUnit;
			if( ouId == undefined )
			{
				ouId = angular.element($("#orgUnitTree .selected")).closest('li').attr('id').replace('orgUnit','');
			}
			

			// STEP 2. Check for RollBack Prev Event Case (on jump months)
			// If event's date is changed into future months
			var prevRollBackCase = me.checkRollBackCase( type, me.latestEvent, me.eventDateTag.val() );
			
					
			// STEP 3. Save aggregate data values and add the event orgUnit in to the orgUnit group
			var curEventStatusName = me.currentEvent[me.EVENT_DE_STATUS];
			var curEventStatusCode = ( curEventStatusName ) ? me.statusNameOptions[curEventStatusName] : "";


			// STEP 4. Run the saving/updating - of dataValues and OU Groups
			if ( prevRollBackCase )
			{
				// Run 'LastEvent' which is 'PrevEvent', and then, run 'CurrentEvent'
				if ( me.lastEvent ) me.saveDataValuesAndUpdateOuGroups_Inner( me.lastEvent.eventDate, me.getStatusCode( me.lastEvent ), ouId );
				
				if ( curEventStatusCode ) me.saveDataValuesAndUpdateOuGroups_Inner( me.currentEvent.eventDate, curEventStatusCode, ouId );
			}
			else
			{
				// Run 'CurrentEvent'
				if ( curEventStatusCode ) me.saveDataValuesAndUpdateOuGroups_Inner( me.currentEvent.eventDate, curEventStatusCode, ouId );
			}
		};
		

		me.checkRollBackCase = function( type, latestEvent, eventDateStr )
		{
			var rollBackCase = false; 

			// Type is 'UPDATE' case and date has changed
			// and changed date is future months (not past and current)
			if ( type === "UPDATE" && me.latestEvent )
			{				
				var previousDateStr = me.latestEvent.eventDate.substring(0, 10);
				var newDateStr = me.eventDateTag.val();
			
				if ( previousDateStr != newDateStr 
					&& me.monthsDiff( newDateStr, previousDateStr ) >= 1 )
				{
					console.log( "RollBack TRUE Case, Months Diff: " + me.monthsDiff( newDateStr, previousDateStr ) + ", previousDateStr: " + previousDateStr + ", newDateStr: " + newDateStr );

					rollBackCase = true;
				}
			}

			return rollBackCase;
		};


		me.saveDataValuesAndUpdateOuGroups_Inner = function( eventDate, statusCode, ouId )
		{
			if ( statusCode )
			{
				if( statusCode == "ONB" ){ // "On boarding"
					me.saveOnBoardingData( eventDate, ouId );
				}
				else if( statusCode == "UNC" ){ // "Under Contract"
					me.saveUnderContactData( eventDate, ouId );
				}
				else if( statusCode == "SUS" ){ // "Suspended"
					me.saveSuspendedData( eventDate, ouId );
				}
				else if( statusCode == "DEF" ){ // "Defranchised"
					me.saveDefranchisedData( eventDate, ouId );
				}
				
				var eventDate1 = eventDate.substring( 0, 19 ) ;
				
				// Save "Sticky Status - Date last change"
				me.saveStatusDataValue( eventDate1, me.AGG_DE_NETWORK_LAST_CHANGE, ouId, eventDate1 );
				
				// Save "Sticky Status - updated this month", 
				//      "Sticky Status - Months since last update", 
				//      "Sticky Status - Months since joining network" in 24 months
				me.saveMonthInfoData( eventDate1, ouId );
			}
		}

		
		/** Save status data values, includes :
		**		Sticky Status - Franchisee - On boarding
		**		Sticky Status - Franchisee - Under Contract
		**		Sticky Status - Franchisee - Suspended
		**		Sticky Status - Franchisee - Defranchised
		**		Sticky Status - Franchisee - Unknown
		**		Sticky Status - Network - Included
		**		Sticky Status - Network - Excluded
		**/
		me.saveStatusDataValue = function( eventDate, deId, ouId, value )
		{
			var json_structuredList = [];
			var curPeriod = me.generateEventPeriod( eventDate );
			for ( i = 0; i < 24; i++ )
			{
				var peId = me.getAddedMonthStr( curPeriod, i );
				var dataValue = me.getDataValueJson( deId, peId, ouId, value );
				json_structuredList.push( dataValue );
				// me.saveMonthlyDataValue( deId, peId, ouId, value );
			}
			
			var jsonList = { "dataValues" : json_structuredList };
			me.submitDataValueSet( jsonList );
		};
		
		/** Save data values, includes :
		**		Sticky Status - Network - update this month (y/n)
		**		Sticky Status - Network - Months since last update 
		**		Sticky Status - Network - Months since joining network
		**		Sticky Status - Network - last change
		**/
		me.saveMonthInfoData = function( eventDate, ouId )
		{
			var dateJoinedNetwork = me.getDateJoinedNetwork( me.eventList );

			var json_structuredList = [];
			var curPeriod = me.generateEventPeriod( eventDate );

			for ( i = 0; i < 24; i++ )
			{
				// Generate period
				var peId = me.getAddedMonthStr( curPeriod, i );
				
				
				// ----------------------------------------------------------------
				// Save the "Network update this month" value
				
				//Generate value
				var value = "0";
				if( me.checkIfEventDateInCurPeriod( eventDate, peId ) )
				{
					value = "1";
				}
				
				var dataValue1 = me.getDataValueJson( me.AGG_DE_NETWORK_UPDATE_THIS_MONTH, peId, ouId, value );
				json_structuredList.push( dataValue1 );
				
				
				// ----------------------------------------------------------------
				// Save the "Months since last update" value

				value = me.generateMonthSinceDate( eventDate, peId );
				var dataValue2 = me.getDataValueJson( me.AGG_DE_NETWORK_MONTHS_SINCE_LAST_UPDATE, peId, ouId, value );
				json_structuredList.push( dataValue2 );
				
				
				// ----------------------------------------------------------------
				// Save the "Months since joining network" value
				
				if ( dateJoinedNetwork )
				{
					value = me.generateMonthSinceDate( dateJoinedNetwork, peId );

					var dataValue3 = me.getDataValueJson( me.AGG_DE_MONTH_SINCE_JOINING_NETWORK, peId, ouId, value );
					
					json_structuredList.push( dataValue3 );
				}
			}
			
			var jsonList = { "dataValues" : json_structuredList };
			me.submitDataValueSet( jsonList );
		};
		

		me.getDateJoinedNetwork = function( eventList )
		{
			var dateJoinedNetwork = "";
			
			var event_FirstContract = me.getFirstEvent_UnderContract( eventList );


			// If events under contract does not exists, check current status selection
			if ( event_FirstContract === undefined )
			{
				var statusCode = "";

				var statusName = me.currentEvent[me.EVENT_DE_STATUS];			
				if( statusName ) statusCode = me.statusNameOptions[statusName];
				
				if( statusCode == "UNC" ) 
				{
					dateJoinedNetwork = me.eventDateTag.val();
				}
			}
			else
			{
				dateJoinedNetwork = event_FirstContract.eventDate;
			}
			
			
			return dateJoinedNetwork;
		};

		
		me.getFirstEvent_UnderContract = function( eventList )
		{
			var event_FirstContract;

			if ( eventList )
			{
				var eventList_sorted = Util.sortByKey( eventList, "eventDate" );

				for ( i = 0; i < eventList_sorted.length; i++ )
				{
					var event = eventList_sorted[i];

					if ( me.getStatusCode( event ) === "UNC" )
					{
						event_FirstContract = event;
						break;
					}
				}
			}

			return event_FirstContract;
		};
		



		// ------------------------------
				
		me.submitDataValueSet = function( jsonData )
		{
			return $.ajax({
				type: 'POST'
				,url: me._queryUrl_dataValueSet
				,dataType: "json"
				,data: JSON.stringify( jsonData )
				,headers: {
					'Content-Type': 'application/json'
				}
				,success: function(){
					console.log( 'Bulk DataValues Submitted. ' );	
				}
				,error: function(){
					console.log( 'Bulk DataValues Submit Failed' );	
				}
			});
		};

		// create event..  <-- we should display it!!!  as read only?
		me.submitEventData = function( jsonData )
		{
			return $.ajax({
				type: 'POST'
				,url: me._queryUrl_dataValueSet
				,dataType: "json"
				,data: JSON.stringify( jsonData )
				,headers: {
					'Content-Type': 'application/json'
				}
				,success: function(){
					console.log( 'Bulk DataValues Submitted. ' );	
				}
				,error: function(){
					console.log( 'Bulk DataValues Submit Failed' );	
				}
			});
		};



		/* me.saveMonthlyDataValue = function( deId, peId, ouId, value )
		{
			var json_Data = me.getDataValueJson( deId, peId, ouId, value );

			return $.ajax({
				type: 'POST'
				,url: me._queryURL_api + "dataValues"
				,dataType: "json"
				,data: json_Data
				,async: true
				,success: function(){
					// console.log( 'Successed to submit the data value.  Data: ' + JSON.stringify( json_Data ) );
				}
				,error: function(){
					console.log( 'Fail to submit the data value.  Data: ' + JSON.stringify( json_Data ) );
				}
				,beforeSend: function( xhr ) {
					// if ( loadingStart !== undefined ) loadingStart();
				}
			})
			.always( function( data ) {
				// if ( loadingEnd !== undefined ) loadingEnd();
			});
			
		}; */
		
		me.getDataValueJson = function( de, pe, ou, value )
		{
			/* return {
				'de' : de,
				'co' : 'CQ6ibh5Ggda',
				'ou' : ou,
				'pe' : pe,
				'value' : value
			}; */
			
			return {
				'dataElement' : de,
				'categoryoptioncombo' : 'CQ6ibh5Ggda',
				'orgUnit' : ou,
				'period' : pe,
				'value' : value
			}
		};
		
		// Save "On Boarding" aggregate data and add orgUnit into the group
		me.saveOnBoardingData = function( eventDate, ouId )
		{
			// Data Values
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_ON_BOARDING, ouId, "1" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_UNDER_CONTACT, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_SUSPENDED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_DEFRANCHISED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.GROUP_OU_FRANCHISEE_UNKNOWN, ouId, "0" );
			
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_INCLUDED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_EXCLUDED, ouId, "1" );

			// Add orgUnit in Group
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_ON_BOARDING );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_UNDER_CONTACT );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_SUSPENDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_DEFRANCHISED );
			
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_EXCLUDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_INCLUDED );
		};
		
		// Save "Under Contract" aggregate data and add orgUnit into the group
		me.saveUnderContactData = function( eventDate, ouId )
		{
			// Data Values
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_ON_BOARDING, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_UNDER_CONTACT, ouId, "1" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_SUSPENDED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_DEFRANCHISED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.GROUP_OU_FRANCHISEE_UNKNOWN, ouId, "0" );
			
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_INCLUDED, ouId, "1" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_EXCLUDED, ouId, "0" );
			
			
			// Add orgUnit in Group
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_UNDER_CONTACT );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_ON_BOARDING );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_SUSPENDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_DEFRANCHISED );
			me.saveStatusDataValue( eventDate, me.GROUP_OU_FRANCHISEE_UNKNOWN, ouId, "0" );
			
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_INCLUDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_EXCLUDED );
		};
		
		// Save "Suspended" aggregate data and add orgUnit into the group
		me.saveSuspendedData = function( eventDate, ouId )
		{
			// Data values
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_ON_BOARDING, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_UNDER_CONTACT, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_SUSPENDED, ouId, "1" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_DEFRANCHISED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.GROUP_OU_FRANCHISEE_UNKNOWN, ouId, "0" );
			
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_INCLUDED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_EXCLUDED, ouId, "1" );
			
			// Add orgUnit in Group
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_SUSPENDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_UNDER_CONTACT );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_ON_BOARDING );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_DEFRANCHISED );
			
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_EXCLUDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_INCLUDED );
		};
		
		// Save "Defranchised" aggregate data and add orgUnit into the group
		me.saveDefranchisedData = function( eventDate, ouId )
		{
			// Data values
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_ON_BOARDING, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_UNDER_CONTACT, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_SUSPENDED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_FRANCHISEE_DEFRANCHISED, ouId, "1" );
			me.saveStatusDataValue( eventDate, me.GROUP_OU_FRANCHISEE_UNKNOWN, ouId, "0" );
			
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_INCLUDED, ouId, "0" );
			me.saveStatusDataValue( eventDate, me.AGG_DE_NETWORK_EXCLUDED, ouId, "1" );
			
			// Add orgUnit in Group
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_DEFRANCHISED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_UNDER_CONTACT );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_ON_BOARDING );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_FRANCHISEE_SUSPENDED );
			
			me.addOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_EXCLUDED );
			me.removeOrgUnitToGroup( ouId, me.GROUP_OU_NETWORK_INCLUDED );
		};
		
		
		// -------------------------------------------------------------------------
		// Update Orgunit Groups
		// -------------------------------------------------------------------------
		
		me.updateOrgUnitGroups = function( ouId, status )
		{
			me.GROUP_OU_FRANCHISEE_ON_BOARDING = "bieIPjDl9rK";
			me.GROUP_OU_FRANCHISEE_UNDER_CONTACT = "InJBtUUZy2c";
			me.GROUP_OU_FRANCHISEE_SUSPENDED = "f2sBZWvPAAM";
			me.GROUP_OU_FRANCHISEE_DEFRANCHISED = "jyhbiSfzbU5";
			me.GROUP_OU_NETWORK_INCLUDED = "qZzR4nEdbWW";
			me.GROUP_OU_NETWORK_EXCLUDED = "olNLe6DMrgA";
		
		};
		
		me.addOrgUnitToGroup = function( ouId, groupId )
		{
			var url = me._queryURL_api + "organisationUnitGroups/" + groupId + "/organisationUnits/" + ouId;

			$.ajax({
				type: 'POST'
				,url: url
				,async: true
				,success: function(){
					
				}
				,error: function(){
					console.log( 'Failed to add orgUnit ' + ouId + ' to group ' + groupId );
				}
				,beforeSend: function( xhr ) {
					// if ( loadingStart !== undefined ) loadingStart();
				}
			})
			.always( function( data ) {
				// if ( loadingEnd !== undefined ) loadingEnd();
			});
			
		};
		
		me.removeOrgUnitToGroup = function( ouId, groupId )
		{
			var url = me._queryURL_api + "organisationUnitGroups/" + groupId + "/organisationUnits/" + ouId;

			$.ajax({
				type: 'DELETE'
				,url: url
				,async: true
				,success: function(){
					
				}
				,error: function(){
					console.log( 'Failed to remove orgUnit ' + ouId + ' from group ' + groupId );
				}
				,beforeSend: function( xhr ) {
					// if ( loadingStart !== undefined ) loadingStart();
				}
			})
			.always( function( data ) {
				// if ( loadingEnd !== undefined ) loadingEnd();
			});
			
		};
		
		// -------------------------------------------------------------------------
		// Check and generate Data Values
		// -------------------------------------------------------------------------
				
		// Check data
		me.checkIfEventDateInCurPeriod = function( eventDate, period )
		{
			var eventPeriod = me.generateEventPeriod( eventDate );
			return ( eventPeriod === period );
		};
		
		// 	Calculate the number of months between eventDate and a period
		me.generateMonthSinceDate = function( date, period )
		{
			var year1 = Number( date.substring(0,4) );
			var year2 = Number( period.substring(0,4) );
			
			var month1 = Number( date.substring(5,7) );
			var month2 = Number( period.substring(4,6) );
			
			return ( (year2 - year1) * 12 + (month2 - month1) );
		};


		me.monthsDiff = function( futureDate, pastDate )
		{
			var year1 = Number( pastDate.substring(0,4) );
			var year2 = Number( futureDate.substring(0,4) );
			
			var month1 = Number( pastDate.substring(5,7) );
			var month2 = Number( futureDate.substring(5,7) );
			
			return ( ( ( year2 - year1 ) * 12 ) + ( month2 - month1 ) );
		};

		
		// -------------------------------------------------------------------------
		// Periods
		// -------------------------------------------------------------------------
		
		me.generateEventPeriod = function( eventDate )
		{
			var year = eventDate.substring(0, 4);
			var month = eventDate.substring(5, 7);
			
			return year + month;
		};
		
		me.getAddedMonthStr = function( selectedPeriod, i )
		{
			var dateTemp = Util.getDate_FromYYYYMM( selectedPeriod );

			dateTemp.setMonth( dateTemp.getMonth() + i );

			return Util.getDateStringYYYYMM( dateTemp );
		};


		// -------------------------------------------------------------------------
		// RUN init method
		// -------------------------------------------------------------------------
		
		me.init();
	}
	
	
	// -------------------------------------------------------------------------
	// Periods
	// -------------------------------------------------------------------------
		
	function Util() {}
	
	Util.getDate_FromYYYYMM = function( strDate )
	{
		var date;

		if ( Util.checkValue( strDate ) )
		{
			var year = strDate.substring(0, 4);
			var month = strDate.substring(4, 6);

			date = new Date( year, month - 1 );
		}

		return date;
	};

	Util.getDate_FromYYYYMMDD = function( strDate )
	{
		var date;

		if ( Util.checkValue( strDate ) )
		{
			var year = strDate.substring(0, 4);
			var month = strDate.substring(5, 7);
			var date = strDate.substring(8, 10);

			date = new Date( year, month - 1, date );
		}

		return date;
	}
	
	Util.getDateStringYYYYMM = function( date, inBtw, dateOption )
	{
		var returnVal = "";

		if ( inBtw === undefined) inBtw = "";


		var yyyy = date.getFullYear().toString();
		var mm = ( date.getMonth() + 1 ).toString(); // getMonth() is zero-based

		returnVal = yyyy + inBtw + ( mm[1] ? mm : "0" + mm[0] );		

		if ( dateOption !== undefined && dateOption == "DD" )
		{
			var dd  = date.getDate().toString();
			returnVal = returnVal + inBtw + ( dd[1] ? dd : "0" + dd[0] );
		}

		return returnVal;
	};


	Util.getDateDiff = function( futureDate, pastDate )
	{
		var timeDiff = Math.abs( futureDate.getTime() - pastDate.getTime() );

		return Math.ceil( timeDiff / ( 1000 * 3600 * 24 ) );
	}

	// --------------------------------------
		
	Util.checkDefined = function( input ) {

		if( input !== undefined && input != null ) return true;
		else return false;
	};

	Util.checkValue = function( input ) {

		if ( Util.checkDefined( input ) && input.length > 0 ) return true;
		else return false;
	};
		
	Util.removeItemFromList = function( listData, searchProperty, searchValue )
	{
		$.each( listData, function( i, item )
		{
			if ( item[ searchProperty ] == searchValue )
			{
				listData.splice(i, 1);
				return false;
			}
		});
	};
	

	Util.findItemFromList = function( listData, searchProperty, searchValue )
	{
		var foundData;

		$.each( listData, function( i, item )
		{
			if ( item[ searchProperty ] == searchValue )
			{
				foundData = item;
				return false;
			}
		});

		return foundData;
	};

	Util.sortByKey = function( array, key ) {
		return array.sort( function( a, b ) {
			var x = a[key]; var y = b[key];
			return ( ( x < y ) ? -1 : ( ( x > y ) ? 1 : 0 ) );
		});
	};

	Util.disableTag = function( tag, isDisable )
	{
		tag.prop( 'disabled', isDisable);
		
		for( var i=0; i<tag.length; i++ )
		{
			var element = $(tag[i]);
			if( element.prop( "tagName" ) == 'SELECT' || element.prop( "tagName" ) == 'INPUT' )
			{
				if( isDisable )
				{
					element.css( 'background-color', '#FAFAFA' ).css( 'cursor', 'auto' ).css( 'color', '#444' );
				}
				else
				{
					element.css( 'background-color', 'white' ).css( 'cursor', '' );
				}
			}
		}
	};

</script>
</div>
